.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


# Ignore the wave output data (too large)
data/wave_output/randompoints_watts

#Ignore wave data input coordinates (too large/clunky)
random_points/forR